
#first_name {
  font-size: 80px;
  margin: 0;
  font-weight: 700;
}

#last_name {
  font-size: 80px;
  margin: 0;
  font-weight: 300;
}

#first_paragraph {
  margin-top: 40px;
}

#work_div_title {
  font-weight: 700;
  margin-top: 25px;
}

#work_div {
  margin-bottom: 25px;
}

.content {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}
