body {
  font-family: 'Roboto Condensed', sans-serif;
  background: #356bd6;
  color: #fff;
}

#content {
  margin-top: 150px;
}


#photo {
  width: 200px;
  height: 200px;
  border: 1px solid #fff;
  background-image: url('../img/me.jpg');
  background-size: cover;
  display: flat;
  margin: auto;
  border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}

#greeting {
  margin-top: 5px;
  vertical-align: middle;
  text-align: center;
  font-size: 4em;
  font-weight: 700;
}

#social {
  margin-top: 30px;
  vertical-align: middle;
  text-align: center;
}

.social-icon {
  margin-left: 4px;
  margin-right: 4px;
}

a:link {
  color:#000;
  text-decoration: none;
}
a:visited {
  color:#000;
  text-decoration: none;
}
a:hover {
  color:#000;
  text-decoration: none;
}
a:active {
  color:#000;
  text-decoration: none;
}

