body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}

body a:link, a:visited, a:hover, a:active {
  color: #000;
}

#left_div {
  float: left;
  height: 100%;
  width: 40%;
  margin: auto;
  overflow: hidden;
}

#right_div {
  float: right;
  height: 100%;
  width: 60%;
  margin: auto;
  overflow: auto;
}

.navigation {
  margin-left: 10%;
  margin-top: 2%;
}

.navigation a:link, a:visited, a:hover, a:active {
  text-decoration:none;
}

